*.pyc
__pycache__/
src/*.egg-info/

.venv*/
.mypy_cache/

results/
models/
tests/

wandb/*
!wandb/run-20250901_123805-r9p9erpj/files/
!wandb/run-20250901_123805-r9p9erpj/files/**

.cache/
.vscode/
*.pyc
